@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#about-title {
  font-family: "DM Serif Text", serif;
  font-size: 75px;
  color: #3E556F;
  margin-top: 3%;
  text-align: center;
}

.about-container {
    display: flex;
}

.circles {
    display: grid;
    grid-template-columns: [col-start] 32% [line2] 15% [line3] 25% [line4] 12% [line5] 7% [line6] auto [col-end];
    grid-template-rows: [row-start] 10% [row-line2] 23% [row-line3] 6% [row-line4] 20% [row-line5] auto [row-end];
    height: 100vh; /* Full viewport height */
    width: 100vh; /* Full width */
    margin-left: 3%;
    margin-top: -5%;
    position: relative;
}

#photo {
    height: 400px;
    width: auto;
    margin-left: 8%;
    margin-top: 3%;
    z-index: 2;

}

.text {
  font-family: "DM Serif Text", serif;
  color: #3E556F;
  font-size: 20px;
  background-color: #CFDDED;
  border-radius: 50%;
  padding: 20px;
  margin: 3%;
  font-family: "DM Sans", sans-serif;
  line-height: 1.4;
  justify-content: center;
  align-content: center;
}

#blurb-1 {
  width: 250px;
  height: 250px;
  position: absolute;
  grid-column-start: col-start;
  grid-column-end: line3;
  grid-row-start: row-line2;
  grid-row-end: row-line5;
  text-align: center;
  animation: blurb1-2-slide-in 3.8s; 
}

#blurb-2 {
  width: 270px;
  height: 270px;
  position: absolute;
  grid-column-start: line5;
  grid-column-end: line7;
  grid-row-start: row-start;
  grid-row-end: row-line2;
  text-align: center;
  animation: blurb1-2-slide-in 2.6s; /* 2s duration, ease timing, and forwards fill mode */

}

#blurb-3 {
  width: 450px;
  height: 450px;
  position: absolute;
  grid-column-start: line2;
  grid-column-end: line5;
  grid-row-start: row-line3;
  grid-row-end: row-end;
  text-align: center;
  vertical-align: top;
  display: flex;
  align-items: flex-start;
  animation: blurb3-slide-in 3s; /* 2s duration, ease timing, and forwards fill mode */

}

 .dark-rectangle-about {
  height: 40px;
  width: 1000px;
  background-color: #2E6C86;
  rotate: 40deg;
  margin-left: -36%;
  margin-top: 17%;
  position: fixed;
  z-index: 1;
}

.light-rectangle-about {
  height: 40px;
  width: 1000px;
  background-color: #B4C7DD;
  rotate: 40deg;
  margin-left: -38%;
  margin-top: 17%;
  position: fixed;
  z-index: 1;
} 

@keyframes blurb1-2-slide-in {
  0% {transform: translateY(-500px);}
  50% {transform: translateY(15px);}
  100% {transform: translateY(0px);}
} 

@keyframes blurb3-slide-in {
  0% {transform: translateY(500px);}
  50% {transform: translateY(-15px);}
  100% {transform: translateY(0px);}
} 