@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#title {
  font-family: "DM Serif Text", serif;
  font-size: 75px;
  color: #3E556F;
  margin-top: 3%;
}

.container {
    display: grid;
    grid-template-columns: [start] 10% [line2] 12% [line3] 13% [line4] auto [col5-start] 10% [line6] 12% [line7] 13% [end]; 
    grid-template-rows: [row1-start] 11% [line-1-5] 11% [row-line2] 20% [row2-end] 5% [row4-start] 22% [row-line5] 11% [row-line6] 10% [row-end]
    /* justify-content: center; 
    align-items: center;
    flex-direction: row;
        margin-top: 3%; */
}

#photo {
    height: 400px;
    width: auto;
    grid-column-start: line4;
    grid-column-end: col5-start;
    grid-row-start: line-1-5;
    grid-row-end: row-line6;
}

.text {
  font-family: "DM Serif Text", serif;
  color: #3E556F;
  font-size: 20px;
  background-color: #E2E5E9;
  border-radius: 10px;
  border: 2px solid #293E57;
  padding: 7px;
  margin: 3%;

}

.upper-left {
    grid-column-start: start;
    grid-column-end: line3;
    grid-row-start: row1-start;
    grid-row-end: row2-end;
}

.lower-left {
    grid-column-start: line2;
    grid-column-end: line4;
    grid-row-start: row4-start;
    grid-row-end: row-end;
    justify-self: start;
}

.upper-right {
    grid-column-start: line6;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: row2-end;
}

.lower-right {
    grid-column-start: col5-start;
    grid-column-end: line7;
    grid-row-start: row4-start;
    grid-row-end: row-end;
}

