/* The main styling for the entire application */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.Home {
  text-align: center;
}

.home-container {
  margin-top: 3%;
  justify-content: left;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  position: relative;

}

#hi-text{
  font-family: "DM Serif Text", serif;
  color: #2E6C86;  
  font-size: 150px;
  margin-bottom: -3%;
  z-index: 2;
}
#name-text {
  font-family: "DM Serif Text", serif;
  color: #3E556F;
  font-size: 150px;
  margin-top: 0%;
  z-index: 2;

}

#description {
  font-family: "DM Sans", sans-serif;
  color: #3E556F;
  font-size: 30px;
  margin-top: -1%;
  z-index: 2;

}

.photo {
  width: 35px;
  height: 35px;
  z-index: 2;

}

.contact-container {
  margin-top: 7%;
  
}
.contact {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #3E556F;
  font-family: "DM Serif Text", serif;
  margin-top: 0%;
  margin-bottom: 1%;
  width: 13%;
  z-index: 2;

}

.contact:hover {
  font-weight: bold;
  font-size: 21px;
}

.contact-item {
  margin-left: 5%;
  margin-top: 2%;
  z-index: 2;

}

.About-text {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "DM Serif Text", serif;
}

 .dark-rectangle-home {
  height: 40px;
  width: 1000px;
  background-color: #2E6C86;
  rotate: 40deg;
  margin-left: 33%;
  margin-top: 5%;
  position: fixed;
  z-index: 2;
}

.light-rectangle-home {
  height: 40px;
  width: 1000px;
  background-color: #B4C7DD;
  rotate: 40deg;
  margin-left: 31%;
  margin-top: 5%;
  position: fixed;
  z-index: 2;
} 

.circle-1 {
  height: 220px;
  width: 220px;
  background-color: #CFDDED;
  border-radius: 50%;
  margin-left: 31%;
  margin-top: 5%;
  position: absolute;
  margin-left: 31%;
  margin-top: -25%;
  animation: circle1-float 20s infinite linear;
  z-index: 1;
}

.circle-2 {
  height: 125px;
  width: 125px;
  background-color: #CFDDED;
  border-radius: 50%;
  position: absolute;
  margin-left: 51%;
  margin-top: -25%;
  animation: circle2-float 20s infinite linear;
  z-index: 1;
}

.circle-3 {
  height: 160px;
  width: 160px;
  background-color: #CFDDED;
  border-radius: 50%; 
  position: absolute;
  margin-left: 0%;
  margin-top: -50%;
  animation: circle3-float 20s infinite linear;
  z-index: 1;
}

@keyframes circle1-float {
  0% { transform: translate(-650px, 0px); }
  35% { transform: translate(700px, -100px); }
  55% { transform: translate(-200px, -450px); }
  80% { transform: translate(-100px, 250px); }
  100% { transform: translate(-650px, 0px); }
}

@keyframes circle2-float {
  0% { transform: translate(500px, 200px); }
  10% { transform: translate(300px, 300px); }
  30% { transform: translate(0px, -350px); }
  50% { transform: translate(-250px, 300px); }
  70% { transform: translate(-850px, 100px); }
  100% { transform: translate(500px, 200px); }
}

@keyframes circle3-float {
  0% { transform: translate(-20px, -20px); }
  6% { transform: translate(-200px, 60px); }
  25% { transform: translate(100px, 550px); }
  50% { transform: translate(1250px, 400px); }
  65% { transform: translate(1000px, -40px); }
  85% { transform: translate(450px, 600px); }
  100% { transform: translate(-20px, -20px); }
}

@keyframes hi-slide-in {
  from {top: 0px;}
  to {top: 250px;}
} 