@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.header {
    display: flex;
    flex-direction: column;
    background-color: #F5EFEB;

}

#portfolio-title {
  font-family: "DM Serif Text", serif;
  font-size: 75px;
  color: #3e556f;
  margin-top: 4%;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
  background-color: #F5EFEB;
  z-index: 4;
  position: fixed;
}

.underline-portfolio {
  height: 5px;
  width: 35vw;
  margin-top: 12%;
  background-color: #b4c7dd;
  margin-left: auto;
  margin-right: auto;

  /* animation: line-slide-in 2s; */
  z-index: 5;
  position: fixed;
}

.projects-container {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  flex-direction: column;
}
.project {
  margin: 2%;
  display: flex;
  align-items: center;
  border-radius: 5%;
  text-align: center;
  flex-direction: column;

}

.project-title {
  font-family: "DM Serif Text", serif;
  font-size: 40px;
  margin-top: 0%;
  color: #3e556f;
  text-align: center;
}

.project-content {
    display: flex;
}

.project-photo {
    height: auto;
    width: 600px;
    justify-content: center;
    margin-top: 2%;
    
    border-radius: 10px;
    box-shadow: 0 0 15px 10px #3e556f;
}

.pacman {
    height: auto;
    width: 400px;
    justify-content: center;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0 0 15px 10px #3e556f;
}

.project-description {
    font-family: "DM Sans", sans-serif;
    color: #3e556f;
    font-size: 20px;
    margin-top: 3%;
    line-height: 1.4;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

.project:hover {
    box-shadow: inset;
    cursor: grabbing;
    transform: scale(1.02);
}

@keyframes line-slide-in {
  0% {transform: translateX(-600px);}
  100% {transform: translateY(0px);}
} 